.piechart {
    margin: 0 0 0 300px;
    padding: 0 2rem;
    box-sizing: border-box;
}

.heading {
    font-size: var(--h2-font-size);
    padding-top: 1rem;
    margin: 0 0 1rem 0;
    color: #002B5B;
}

.piechartContainer {
    height: 90vh;
}