.saleCard {
    box-sizing: border-box;

    padding-top: 1rem;

    width: 100%;
    height: 50vh;
}

form {
    height: 95%;
    width: 500px;
    background-color: #57C5B6;
    border-radius: 2rem;
    box-shadow: #57CC99 0px 2px 5px -1px, #57CC99 0px 1px 3px -1px;
    
    box-sizing: border-box;
    padding: 0 2rem;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.form__group {
    margin-bottom: 1rem;
}

.form__control {
    box-sizing: border-box;
    outline: none;
    border: none;
    height: 3rem;
    width: 300px;
    padding: 0 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;

    font-size: var(--normal-font-size);
    font-family: var(--body-font);
}

.form__select {
    box-sizing: border-box;
    outline: none;
    border: none;
    height: 3rem;
    width: 300px;
    padding: 0 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;

    font-size: var(--normal-font-size);
    font-family: var(--body-font);   
}

.form__file {
    box-sizing: border-box;
    outline: none;
    border: none;
    height: 3rem;
    width: 300px;
    padding: .7rem 1rem 1rem 1rem;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;

    font-size: var(--normal-font-size);
    font-family: var(--body-font);     
    
    background-color: white;
}

.form__submit {
    box-sizing: border-box;
    height: 3rem;
    width: 100px;
    padding: 0 1rem;
    border: none;
    border-radius: 10px;

    background-color: #80ED99;

    font-size: var(--normal-font-size);
    font-family: var(--body-font); 
}

.form__submit:hover {
    cursor: pointer;
    background-color: #22577A;
}