/* container---> */
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   outline: none;
   
}

/* styling */
.heading h1 {
   position:relative; font-size:20px; font-weight:700; color: #000;
    letter-spacing:0px; text-transform:uppercase; width:150px; text-align:center; margin:auto; white-space:nowrap; border:2px solid #222;padding:5px 11px 3px 11px;
 }
 
body {
   width: 100%;
   height: 100%;
   background-color: #fff;
   font-family: sans-serif;
   overflow-y: hidden;
}

a {
   text-decoration: none;
   color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
   font-size: 18px;
   color: #fff;
   font-family: Poppins, sans-serif;
}

li {
   overflow: hidden;
}

p {
   font-size: 16px;
   font-family: Poppins, sans-serif;
}

.container {
   width: 80%;
   margin: 0px auto;
} 
 
.white {
    color: #fff !important;
}

.d__flex {
   display: flex;
}
.mainbox{
   display: flex;
   gap: 5px;
   width: 100vw;
   height: 100vh;
   overflow: hidden;
 
}
.box1{
   width: 50%;
   height: 50%;
   
   
}
.box2{
   width: 50%;
   height: 50%;
}
.serviceimg{
   width: 75%;


}
.row {
   display: flex;
   width: 100%;
   flex-wrap: wrap;
   overflow: hidden;
   align-items: flex-start;
   justify-content: center;
   
  
}

.col__2{
   max-width: 50%;
   display: flex;
   padding: 20px;
   justify-content: center;
   flex-direction: column;
}
.component__space {
   padding: 100px 0;
}

.pointer {
   cursor: pointer;
}

svg {
   stroke-width: 1 !important;
   margin-top: 10px;
}

button.btn {
   font-size: 18px;
   font-weight: 500;
   border-radius: 5px;
   border: 2px solid #fff;
   background-color: #fff;
   color: #fff !important;
   text-transform: uppercase;
   letter-spacing: 2px;
   transition: .4s all ease;
   height: 50px;
   width: 180px;
   margin: 0 10px;
}

.p__color {
   color: rgba(198, 201, 216, .75);
   font-size: 18px;
   line-height: 30px;
   font-family: Poppins, sans-serif;
   margin-bottom: 15px;
}

button.about.btn.pointer:hover {
   background: #fff;
   color: #000 !important;
}

@media only screen and (max-width: 768px) {
     .col__2 {
      max-width: 100%;
     }
}
 

 .col__3 {
   max-width: 50%;
 
   display: flex;
   padding: 15px;
   justify-content: center;
   flex-direction: column;
   margin-top: 10px;
 }

/* conatiner ends */

h1.heading {
    font-size: 60px;
    text-align: center;
    font-weight: 700;
    font-family: Poppins, sans-serif;
    margin-bottom: 10px;
    color: #000;
 }

 p.heading.p__color {
    margin-bottom: 0;
    text-align: center;
    line-height: 1.2;
    color: #000;
 }

 .service__box {
    border-radius: 10px;
    width: 90%;
    padding: 5%;
    background-color: #D9D9D9;
    /* padding: 5px; */
    transition: .4s ease;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
 }

 .service__box:hover {
    transform: translateY(5px);
    background-color: #005F15;
 }

 .service__box:hover .service__text{
   color: #fff;
 }

 .service__box:hover .icon {
    color: #fff;
 }

 .service__box:hover p.service__text .p__color {
          color: #fff !important;
 }

 .icon {
    font-size: 54px;
    font-weight: 400;
    margin-bottom: 23px;
    display: inline-flex;
    color: #000;
 }

 p.service__text.p__color {
    margin-bottom: 0;
    color: #000;
 }

 h1.service__text {
    font-size: 19px;
    font-family: Poppins, sans-serif;
    padding: 10px 0px;
    color: #000;
 }

 @media only screen and (max-width: 1024px) {
      .service__box {
        padding: 32px;
      }
 }