.dashboard {
    margin: 0 0 0 300px;
    padding: 0 2rem;
    box-sizing: border-box;
}

.heading {
    font-size: var(--h2-font-size);
    padding-top: 1rem;
    margin: 0 0 1rem 0;
    color: #002B5B;
}

.dashboardContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 2rem;
}

.dashboardCardContainer {
    display: flex;
    flex-direction: column;
    width: 425px;
    height: 100%;
    box-sizing: border-box;
}

.dashboardCardContainer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.statContainer {
    width: 200px;
    height: 150px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin-bottom: 25px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.box1 {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.number {
    font-size: var(--h2-font-size);
    margin: 0;
    font-weight: bolder;
}

.icon {
    font-size: 1.5rem;
    color: #002B5B;
}

.rightSide {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.form {
    height: 95%;
    width: 500px;
    background-color: #57C5B6;
    border-radius: 2rem;
    box-shadow: #57CC99 0px 2px 5px -1px, #57CC99 0px 1px 3px -1px;
    
    box-sizing: border-box;
    padding: 0 2rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.form__group {
    margin-bottom: .2rem;
}

.form__control {
    box-sizing: border-box;
    outline: none;
    border: none;
    height: 3rem;
    width: 300px;
    padding: 0 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;

    font-size: var(--normal-font-size);
    font-family: var(--body-font);
}

.form__select {
    box-sizing: border-box;
    outline: none;
    border: none;
    height: 3rem;
    width: 300px;
    padding: 0 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;

    font-size: var(--normal-font-size);
    font-family: var(--body-font);   
}

.form__file {
    box-sizing: border-box;
    outline: none;
    border: none;
    height: 3rem;
    width: 300px;
    padding: .7rem 1rem 1rem 1rem;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;

    font-size: var(--normal-font-size);
    font-family: var(--body-font);     
    
    background-color: white;
}

.form__submit {
    box-sizing: border-box;
    height: 3rem;
    width: 100px;
    padding: 0 1rem;
    border: none;
    border-radius: 10px;

    background-color: #80ED99;

    font-size: var(--normal-font-size);
    font-family: var(--body-font); 
}

.form__submit:hover {
    cursor: pointer;
    background-color: #22577A;
}
