.homecardPadding {
    height: 100vh;
    margin: 0;
    /* padding-top: 12rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, #E0E4FA, #57CC99);
}

.innerBox {
    position: relative;
    width: 90vw;
    height: 60vh;
    background-image: linear-gradient(to bottom right, #E0E4FA, #c9f8e4);
    border-radius: 2rem;
    box-shadow: #57CC99 0px 2px 5px -1px, #57CC99 0px 1px 3px -1px;
}

.upperBox {
    width: 80vw;
    height: 50vh;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 2rem;
    position: absolute;
    top: -10%;
    left: 6%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.homeImage {
    height: 50vh;
}

.lowerBox {
    box-sizing: border-box;
    width: 80vw;
    height: 30vh;
    padding: 0 2rem;
    background: white;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    position: absolute;
    bottom: -30%;
    left: 6%;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.idea {
    width: 50px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content p {
    margin: 2px;
}

/* test */
.test {
    height: 100vh;
}