.dashboard {
    margin: 0 0 0 300px;
    padding: 0 2rem;
    box-sizing: border-box;
}

.heading {
    font-size: var(--h2-font-size);
    padding-top: 1rem;
    margin: 0 0 1rem 0;
    color: #002B5B;
}

.dashboardContainer {
    width: 100%;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.topContainer {
    width: 100%;
    height: 50vh;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.dashboardCardContainer {
    display: flex;
    flex-direction: column;
    width: 425px;
    height: 100%;
    box-sizing: border-box;
}

.dashboardCardContainer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.statContainer {
    width: 200px;
    height: 150px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin-bottom: 25px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.box1 {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.number {
    font-size: var(--h2-font-size);
    margin: 0;
    font-weight: bolder;
}

.icon {
    font-size: 1.5rem;
    color: #002B5B;
}

.lineChartBox {
    min-width: 600px;
    height: 100%;
}


.bottomContainer {
    width: 100%;
    height: 45vh;
}

