@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Poppins&display=swap');


:root {
  /* fonts and typography */
  --body-font: 'Chakra Petch', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
  
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}


/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}


body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  scroll-behavior: smooth;
}

/* scroll bar styles */

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #E0E4FA;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #57CC99;    /* color of the scroll thumb */
}